# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [21]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

Philly = pd.read_csv(r"C:\Users\User\group-challenge\projects\Bhoomika_data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\philadelphia_9-24-2016_9-30-2017.csv")
New_York = pd.read_csv(r"C:\Users\User\group-challenge\projects\Bhoomika_data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\new-york_9-24-2016_9-30-2017.csv")
Balitmore = pd.read_csv(r"C:\Users\User\group-challenge\projects\Bhoomika_data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\baltimore_9-24-2016_9-30-2017.csv")
Boston = pd.read_csv(r"C:\Users\User\group-challenge\projects\Bhoomika_data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\boston_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [118]:
# Clean your data here!
# for col in New_York.columns:
    # pct_missing = np.mean(New_York[col].isnull())
    # print('{} - {}%'.format(col, round(pct_missing*100)))


Philly = Philly.dropna(axis="columns", how="all")
New_York = New_York.dropna(axis="columns", how="all")
Balitmore = Balitmore.dropna(axis="columns", how="all")
Boston = Boston.dropna(axis="columns", how="all")

Philly = Philly.dropna(how="all")
New_York = New_York.dropna(how="all")
Balitmore = Balitmore.dropna(how="all")
Boston = Boston.dropna(how="all")

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [157]:
# Combine the four dataframes into one!
combined = pd.concat([Philly, New_York, Balitmore, Boston], ignore_index= True)

combined

# for col in combined.columns:
#     pct_missing = np.mean(combined[col].isnull())
#     print('{} - {}%'.format(col, round(pct_missing*100)))

combined

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Unit of Sale,Repack,Origin District,Color
0,PUMPKINS,PHILADELPHIA,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,150.0,140,150.0,PENNSYLVANIA,lge,NaN,N,NaN,NaN
1,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150.0,150,150.0,NEW YORK,med-lge,NaN,N,NaN,NaN
2,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150.0,150,150.0,NEW YORK,med,NaN,N,NaN,NaN
3,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,160.0,150,160.0,PENNSYLVANIA,lge,NaN,N,NaN,NaN
4,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,140,140.0,140,140.0,NEW JERSEY,med-lge,NaN,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,PUMPKINS,BOSTON,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/22/2016,15,18.0,15,15.0,MASSACHUSETTS,sml,NaN,N,NaN,ORANGE
670,PUMPKINS,BOSTON,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/29/2016,15,18.0,15,15.0,MASSACHUSETTS,sml,NaN,N,NaN,WHITE
671,PUMPKINS,BOSTON,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/29/2016,15,18.0,15,15.0,MASSACHUSETTS,sml,NaN,N,NaN,ORANGE
672,PUMPKINS,BOSTON,1/2 bushel cartons,MINIATURE,ROUND TYPE,11/05/2016,15,18.0,15,15.0,MASSACHUSETTS,sml,NaN,N,NaN,WHITE
673,PUMPKINS,BOSTON,1/2 bushel cartons,MINIATURE,ROUND TYPE,11/05/2016,15,18.0,15,15.0,MASSACHUSETTS,sml,NaN,N,NaN,ORANGE

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [158]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
combined.groupby("Unit of Sale").agg(
    mean_low_price = ("Low Price", "mean"),
    mean_high_price = ("High Price", "mean")
)

              mean_low_price  mean_high_price
Unit of Sale
EACH               47.916667        59.166667
PER BIN           185.845070       206.619718
SHELLACKED         16.000000        17.545455

In [177]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
counts = combined.groupby(["City Name", "Variety"]).size()

Average_pumpkin = counts.groupby(["City Name", "Variety"]).mean()

Average_pumpkin

City Name     Variety
BALTIMORE     BIG MACK TYPE                24.0
              CINDERELLA                   25.0
              FAIRYTALE                    16.0
              HOWDEN TYPE                  25.0
              HOWDEN WHITE TYPE             2.0
              MINIATURE                    30.0
              MIXED HEIRLOOM VARIETIES      3.0
              PIE TYPE                     26.0
BOSTON        BIG MACK TYPE                29.0
              BLUE TYPE                     7.0
              CINDERELLA                   14.0
              FAIRYTALE                    21.0
              HOWDEN TYPE                 132.0
              KNUCKLE HEAD                  7.0
              MINIATURE                    28.0
              PIE TYPE                    114.0
NEW YORK      BIG MACK TYPE                 2.0
              HOWDEN TYPE                  39.0
              KNUCKLE HEAD                  1.0
              MINIATURE                    27.0
              MIXED HEIRLOOM VARIETIES      1.0
              PIE TYPE                     42.0
PHILADELPHIA  HOWDEN TYPE                  28.0
              KNUCKLE HEAD                  1.0
              MINIATURE                    12.0
              PIE TYPE                     16.0
dtype: float64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [178]:
# Try the bonus mission if you have time!