# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE Sep2025JunkDB.bhoomika_mahajan.planned_makes 
(
    PlannedmakeID INT IDENTITY (1,1) PRIMARY KEY,
    Project_name VARCHAR(255),
    Description VARCHAR(255),
    Date_created DATE
);

Add three rows to your table that are your planned makes.

In [ ]:

INSERT INTO Sep2025JunkDB.bhoomika_mahajan.planned_makes 
VALUES ('Tesla', 'External Parts', '2024-01-01'),
        ('Honda', 'Interiors', '2025-01-01'),
        ('Kia', 'Speakers', '2023-01-01');

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE Sep2025JunkDB.bhoomika_mahajan.planned_makes
SET [Description] = 'Paint'
WHERE PlannedmakeID = 1;

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE Sep2025JunkDB.bhoomika_mahajan.planned_makes
where PlannedmakeID = 2;

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DELETE Sep2025JunkDB.bhoomika_mahajan.planned_makes
where PlannedmakeID = 2;